<html>
<head>
    <title>CONMEBOL API Documentation</title>
    <meta name="color-scheme" content="light dark">
</head>
<body>
    <h1 style="display: flex; align-items: center;">
        CONMEBOL API 
        <img style="background-color: white; border-radius: 100%; margin-left: 10px;" src="{{url_for('static', filename='assets/football.svg')}}" width="32" height="32" alt="Icono">
      </h1>
      
    <p>Bienvenido a la API de CONMEBOL. Puedes ver la documentación en el repositorio de github: <a href="https://github.com/fcoagz/conmebol" target="_blank">https://github.com/fcoagz/conmebol</a></p>
</body>
</html>